{% extends 'base.html' %}

{% block title %}
Course Catalogue
{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-xl p-4">
    <h1
        class="mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center mt-3">
        Inscripción
    </h1>

    <form>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Correo del estudiante
                </label>
                <input type="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="jaimescayetanoj@gmail.com" required />
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Curso
                </label>
                <select id="countries"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.title }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </form>

    <div>
        <h2 class="text-4xl font-bold dark:text-white">Inscritos al curso</h2>

        <div class="relative overflow-x-auto mt-6">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Nombres y apellidos
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Correo electrónico
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Curso
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Fecha de inscripción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            example
                        </th>
                        <td class="px-6 py-4">
                            example
                        </td>
                        <td class="px-6 py-4">
                            example
                        </td>
                        <td class="px-6 py-4">
                            example
                        </td>
                    </tr>    
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}