{% extends 'base.html' %}

{% block title %}
Inscripción en Curso
{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-xl p-4">
    <h1 class="text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
        Inscribir Estudiante en el Curso
    </h1>

    <form method="POST">
        <label for="student_id" class="block text-sm font-medium text-gray-700">Selecciona un estudiante:</label>
        <select id="student_id" name="student_id" class="form-select mt-1 block w-full">
            {% for student in students %}
            <option value="{{ student.id }}">{{ student.firstname }} {{ student.lastname }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Inscribir</button>
    </form>
    
</div>
{% endblock %}
